/Brownian_motion/.vs
/Brownian_motion/Debug
/long_arithmetic/.vs
/long_arithmetic/Debug
/procedural_generation/.vs
/procedural_generation/Debug
/the_rectangle_is_moving/.vs
/the_rectangle_is_moving/Debug