/Brownian_motion/Brownian_motion/Debug
/Brownian_motion/.vs
/Brownian_motion/Debug
/Brownian_motion/*.db
/long_arithmetic/.vs
/long_arithmetic/Debug
/long_arithmetic/long_arithmetic/Debug
/long_arithmetic/long_arithmetic.sln
/long_arithmetic/long_arithmetic.VC.db
/Brownian_motion/*.sln
/procedural_generation/procedural_generation.VC.db
/procedural_generation/.vs
/procedural_generation/Debug
/procedural_generation/procedural_generation.sln
/procedural_generation/procedural_generation/procedural_generation.vcxproj
/procedural_generation/procedural_generation/procedural_generation.vcxproj.filters
/procedural_generation/procedural_generation/Debug
/Brownian_motion/Brownian_motion/Brownian_motion.vcxproj.filters
/Brownian_motion/Brownian_motion/Brownian_motion.vcxproj
/long_arithmetic/long_arithmetic/long_arithmetic.vcxproj.filters
/long_arithmetic/long_arithmetic/long_arithmetic.vcxproj
/the_rectangle_is_moving/the_rectangle_is_moving.VC.db
/the_rectangle_is_moving/.vs
/the_rectangle_is_moving/Debug
/the_rectangle_is_moving/the_rectangle_is_moving.sln
/the_rectangle_is_moving/the_rectangle_is_moving/the_rectangle_is_moving.vcxproj.filters
/the_rectangle_is_moving/the_rectangle_is_moving/Debug
/the_rectangle_is_moving/the_rectangle_is_moving/the_rectangle_is_moving.vcxproj
/Brownian_motion/Brownian_motion/Brownian_motion.vcxproj.user
/bulls_and_cows/Task606.VC.db
/bulls_and_cows/.vs
/bulls_and_cows/Debug
/bulls_and_cows/Task606.sln
/bulls_and_cows/Task606/Task606.vcxproj
/bulls_and_cows/Task606/Task606.vcxproj.filters
/bulls_and_cows/Task606/Debug
